<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<system.webServer>
      <httpErrors errorMode="Custom" defaultResponseMode="File" >
         <remove statusCode="404" />
         
         <error statusCode="404" 
            path="404.html" />
         
       </httpErrors>
   </system.webServer>
   <system.webServer>
		<staticContent>
		<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
		</staticContent>
	</system.webServer>
</configuration>