
@charset "UTF-8";
html {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
   box-sizing: border-box;
  font-size: 100%; 
  }
body {
  margin: 0;
  padding: 0;
  background: #fefefe;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  line-height: 1.5;
  font-size:14px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color:#498fe1;
  text-decoration:none;
}
a:hover{color:#0869a1}
/*Split functionality Start*/
.attramo-split {width: 100vw;height: 100vh; display: -webkit-box;display: -ms-flexbox;display: flex; }
.attramo-split .split-image {width: 60%;height: 100vh; background-image: url("../image/CoverImage.jpg");background-size: cover; }
.attramo-split .split-content {width: 40%;/*min-height: 100vh;*/ display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;overflow: auto; }
.attramo-split .split-content .split-content-vertically-center {padding: 60px;max-width: 400px;margin-top: 0px; margin-bottom: auto; }
@media (max-width: 800px) {
  .attramo-split {width: 100%;height: auto; -ms-flex-wrap: wrap;flex-wrap: wrap; }
  .attramo-split .split-image {height: 80vh;width: 100%; }
  .attramo-split .split-content {width: 100%;height: auto; }
  .attramo-split .split-content .split-content-vertically-center { padding: 40px; }
  .attramo-split .split-image.smallWidth{display: none}
  /*other fixes*/
  /*.Business-feedback p{width: 70%; margin-top: 0px 0px 0px 0px}*/
}
@media (max-width: 500px) {
  .attramo-split .split-image {height: 60vh;width: 100%; }}
@media (max-width: 1000px) {
  .attramo-split .split-content .split-content-vertically-center {padding: 30px !important; }
 }
@media (max-width: 1200px) {
  .attramo-split .split-content .split-content-vertically-center {padding: 60px; } 
}
/*window width between 1050 and 800*/
@media (max-width: 1100px) and (min-width: 800px) {
  /*.Business-feedback p{width: 100%; margin: 15px 0px 0px 0px}*/
}
@media (max-width: 400px) {
  /*.Business-feedback p{width: 100%; margin: 15px 0px 0px 0px}*/
}
@media screen and (min-width: 1101px) {
  /*.Business-feedback p{width: 70%; margin: 0px 0px 0px 0px}*/
}
/*Split functionality END*/

.clearFloat{clear:both}
.text-center{text-align: center;}
.leftFolat{float: left;}
.rightFloat{float: right;}
.captionFont{font-size:12px;}
.heading1Font{font-size: 27px }
.heading2Font{font-size: 21px}
.heading3Font{font-size: 17px}
.photoFontSize{font-size: 30px}
.boldFont{font-weight: bold}
.normalfont{font-weight: normal;}
.bodyFont{font-size: 14px}
.largeMargin{margin-bottom: 40px}
.mediumMargin{margin-bottom: 25px}
.smallMargin{margin-bottom: 15px }
.smallestMargin{margin-bottom: 8px }
h1,h2,h3,h4,h5,ul,li,div {line-height: 1.2;}
h1,h2,h3,h4,h5,p,span,a, ul, li, div{margin: 0px; padding: 0px}
p, span{line-height: 1.5}
.simpleButton{ line-height: 1.7;width: auto;background: #f9f7f7;color: #498fe1;border-radius: 100px;display: inline-block; padding: 5px 15px;}
.simpleButton:hover{color: #FFF; background: #0869a1}
.Call-toAction-button a, .nextBtn, .nextBtn2, .nextBtn3, .services-CTA-Button{width: auto;color: #FFF;border-radius: 4px; background: #027abf; display: inline-block; padding: 5px 18px;border: none; cursor: pointer;}
.Call-toAction-button a{ padding: 10px 18px; }
.Call-toAction-button a:hover, .nextBtn:hover, .nextBtn2:hover,.nextBtn3:hover, .services-CTA-Button:hover{color: #FFF; background:#0869a1; }
.Business-image ul, .Business-CTA-button ul, .Business-social ul, .getQuotationlist, .serviceCateory, .Business-Services-Offered ul, .Opning-Hours{padding: 0px;list-style-type: none; }
.Business-CTA-button ul li, .Business-social ul li, .serviceCateory li, .Business-image li{display: inline-block;}
.Business-image ul{margin: 0px -20px 0px -20px;}
.Business-Services-Offered li{padding-bottom: 7px}
.Business-Services-Offered h2,.Business-about h2, .Business-feedback h2,.Business-social h2, .Business-image-gallery h1, .Business-Services-page h1, .Business-Services-page h2, .Business-About-page h1, .Business-testimonials h1, .Business-get-quotation h1, .Business-thanks-page h1{color:#4a4a4a;}
.moreimage {position: relative; display: inline-block; background: #666769; height: 98px;}
.moreimage img{opacity: 0.5}
.moreimage span{position: absolute;text-align: center;top: 33%; right: 22%;color: #FFF; line-height: 1.2rem;}
.grayText{color:#666; }
.borderBottomClass{border-bottom: 1px solid #f0eeee;}
.rightFloat.fullWidth{width: 100%}
.clientName, .Business-Details-link{display: block;}
.arrow-Icon,.locationIcon,.facebook,.twitter,.instagram,.youtube,.linkedin,.pinterest, .attramo-logo,.star-icon, .info-icon{background-image: url(../image/Sprite.svg);background-repeat: no-repeat;height: 36px;width: 36px;display: inline-block;}
.locationIcon{background-position: 0px -24px;height: 22px;width: 23px;vertical-align: middle;}
.Business-hours .arrow-Icon{border-radius: 2px;border:1px solid #f0eeee;}
.arrow-Icon{background-position: 1px -46px;height: 15px;width: 16px;vertical-align: middle; margin-left: 3px;}
.facebook:hover{background-position: -39px -129px}
.facebook{background-position: -2px -129px}
.twitter:hover{background-position: -39px -288px;}
.twitter{background-position: -2px -288px;}
.instagram:hover{background-position: -39px -168px;}
.instagram{background-position: -2px -168px;}
.youtube:hover{background-position: -39px -90px;}
.youtube{background-position: -2px -90px;}
.linkedin:hover{background-position: -39px -208px;}
.linkedin{background-position: -2px -208px;}
.pinterest:hover{background-position: -39px -248px;}
.pinterest{background-position: -2px -248px;}
.star-icon{width: 13px;height: 14px;background-position: -3px -3px;}
.starRating{margin-right: 5px;vertical-align: baseline;}
.info-icon{width: 16px;height: 17px;background-position: -3px -64px; vertical-align: middle; margin-left: 3px; cursor: pointer;}
.Share-button a:first-child, .Business-CTA-button ul li{margin-right: 4px}
.Business-CTA-button ul li { margin-bottom:10px  }
.attramo-logo{background-position: -0px -333px; height: 32px;width: 95px;vertical-align: middle;}
.attramo-logo:hover{background-position: -96px -333px; }
.About-more-content p{margin-bottom: 8px;}
.Review-more-content .reviewRating{margin-top: 20px }
/* image gallery page */
.Business-image-gallery ul li{ cursor: pointer; display: inline-block;border-radius: 3px; margin: 10px 5px 7px 0px;}
.Business-image-gallery ul li:last-child{margin-right: 0px}
.Business-image-gallery ul{/*margin: 0px 0px 0px 0px;*/padding: 0px;list-style-type: none;}
.backBtn, .backBtn1{cursor: pointer; border: 1px solid #ccc;background: #fff;padding: 4px 10px;border-radius: 5px;color: #ccc}
.backBtn:hover, .backBtn1:hover{background: #ccc;color: #fff;}
.Business-get-quotation .nextBtn{width: 100%}
.messageBox{width: 100%; height: 200px; border:1px solid #bfbcbc}
.nameSection{width: 45%}
.nameSection input, .phone, .email{width: 100%; border:1px solid #bfbcbc; height: 23px}
.checked {
  color: orange;
}