
@charset "UTF-8";
html {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
   box-sizing: border-box;
  font-size: 100%; 
  }
body {
  margin: 0;
  padding: 0;
  background: #fefefe;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  line-height: 1.7;
  font-size:14px;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color:#498fe1;
  text-decoration:none;
}
/*Split functionality Start*/
.attramo-split {width: 100vw;height: 100vh; display: -webkit-box;display: -ms-flexbox;display: flex; }
.attramo-split .split-image {width: 60%;height: 100vh; background-image: url("../image/CoverImage.jpg");background-size: cover; }
.attramo-split .split-content {width: 40%;/*min-height: 100vh;*/ display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;overflow: auto; }
.attramo-split .split-content .split-content-vertically-center {padding: 60px;max-width: 400px;margin-top: 0px; margin-bottom: auto; }
@media (max-width: 800px) {
  .attramo-split {width: 100%;height: auto; -ms-flex-wrap: wrap;flex-wrap: wrap; }
  .attramo-split .split-image {height: 80vh;width: 100%; }
  .attramo-split .split-content {width: 100%;height: auto; }
  .attramo-split .split-content .split-content-vertically-center { padding: 40px; }
  .Business-feedback p{width: 70%; margin-top: 0px 0px 0px 0px}
  .attramo-split .split-image.smallWidth{display: none}
}
@media (max-width: 500px) {
  .attramo-split .split-image {height: 60vh;width: 100%; }}
@media (max-width: 1000px) {
  .attramo-split .split-content .split-content-vertically-center {padding: 30px !important; }
 }
@media (max-width: 1200px) {
  .attramo-split .split-content .split-content-vertically-center {padding: 60px; } 
}
/*window width between 1050 and 800*/
@media (max-width: 1100px) and (min-width: 800px) {
  .Business-feedback p{width: 100%; margin: 15px 0px 0px 0px}
}
@media (max-width: 400px) {
  .Business-feedback p{width: 100%; margin: 15px 0px 0px 0px}
}
@media screen and (min-width: 1101px) {
  .Business-feedback p{width: 70%; margin: 0px 0px 0px 0px}
}
/*Split functionality END*/

.clearFloat{clear:both}
.text-center{text-align: center;}
.leftFolat{float: left;}
.rightFloat{float: right;}
.Business-name, .Business-aria{font-weight: normal;}
.Business-logo,.Business-aria,.Business-name,.Business-info,.Get-quatestion-button,.Share-button,.Business-hours {margin-bottom: 10px}
.Business-name{font-size: 21px;}
.Business-aria{ font-size: 17px}
.Get-quatestion-button,.Share-button{display: block}
.simpleButton{margin-bottom: 5px;width: auto;border: 1px solid #2cb6df;color: #2cb6df;border-radius: 15px;display: inline-block; padding: 2px 10px;}
.simpleButton:hover{color: #FFF; background: #2cb6df}
.Get-quatestion-button a, .nextBtn, .nextBtn2{font-size: 18px;width: auto;border: 1px solid #2cb6df;color: #FFF;border-radius: 5px; background: #2cb6df; display: inline-block; padding: 5px 8px;}
.Get-quatestion-button a:hover, .nextBtn:hover, .nextBtn2:hover{color: #2cb6df; background:#fff; }
.Business-image ul, .Business-CTA-button ul, .Business-Services-Offered ul, .Business-social ul, .getQuotationlist, .serviceCateory{margin: 20px 0px 15px 0px;padding: 0px;list-style-type: none;}
.Business-CTA-button ul li, .Business-social ul li, .serviceCateory li{display: inline;}
.Business-Services-Offered h2,.Business-about h2, .Business-feedback h2,.Business-social h2, .Business-image-gallery h1, .Business-Services-page h1, .Business-Services-page h2, .Business-About-page h1, .Business-testimonials h1, .Business-get-quotation h1, .Business-thanks-page h1{font-weight: normal; color:#4a4a4a; font-size: 17px}
.moreimage {position: relative; display: inline-block; background: #de891f; height: 83px; border-radius: 3px;}
.moreimage img{opacity: 0.5}
.moreimage span{position: absolute;text-align: center;top: 18%; right: 22%;color: #FFF;}
.grayNumber{color:#cfcfcf; }
.Business-Services-Offered ul li{position: relative; cursor: pointer; display: inline-block; height:88px ;width: 197px;}
.Business-Services-Offered img{border-radius: 5px;}
.Business-Services-Offered li span.servicesText{position: absolute;z-index: 2;color: #fff;bottom: 7px;left: 7px;}
.borderBottomClass{border-bottom: 1px solid #ccc;padding-bottom: 30px;margin-bottom: 20px;}
.Business-about, .Business-feedback{position: relative;padding-right: 20px}
/*.Business-feedback p{width: 70%; margin: 0px}*/
.rightFloat.fullWidth{width: 100%}
.clientName{display: block;}
.dateSelectionIcon,.locationIcon,.arrowClick,.facebook,.twitter,.googleplus,.instagram,.youtube,.linkedin,.pinterest, .NavArrow, .ShareIcon, .bookmarkIcon, .attramo-logo, .homeBackIcon{background-image: url(../image/Sprite.svg);background-repeat: no-repeat;height: 40px;width: 40px;display: inline-block;border-radius:100px;}
.locationIcon{background-position: 0px -517px;height: 22px;width: 23px;vertical-align: middle;}
.dateSelectionIcon{background-position: 0px -410px;height: 27px;width: 31px;vertical-align: middle;}
.dateSelectionIcon:hover{background-position: -30px -410px;height: 27px;width: 31px;vertical-align: middle;}
.arrowClick{background-position: 0px -491px;height: 22px;width: 23px;position: absolute;bottom: 5px; right:5px;}
.facebook{background-position: -4px -55px;}
.facebook:hover{background-position: -49px -55px;}
.twitter{background-position: -4px -311px;}
.twitter:hover{background-position: -49px -311px;}
.googleplus{background-position: -4px -105px;}
.googleplus:hover{background-position: -49px -105px;}
.instagram{background-position: -4px -156px;}
.instagram:hover{background-position: -49px -156px;}
.youtube{background-position: -4px -3px;}
.youtube:hover{background-position: -49px -3px;}
.linkedin{background-position: -4px -209px;}
.linkedin:hover{background-position: -49px -209px;}
.pinterest{background-position: -4px -260px;}
.pinterest:hover{background-position: -49px -260px;}
.NavArrow{background-position: 0px -493px;height: 16px;width: 16px;position: absolute;right: 0px;top: 50%;}
.ShareIcon{background-position: -4px -449px;height: 33px;width: 85px;}
.ShareIcon:hover{background-position: -94px -449px;}
.bookmarkIcon{background-position: -4px -363px;height: 22px;width: 11px;text-indent: -9999px;border: 1px solid #2cb6df;padding: 4px 10px; vertical-align: -11px;}
.bookmarkIcon:hover {background-position: -40px -364px;background-color: #2cb6df;}
.attramo-logo{background-position: -5px -547px; height: 32px;width: 95px;vertical-align: middle;}
.footerText{font-size: 12px; color: #999999}
/* image gallery page */
.homeBackIcon{background-position: -4px -449px;height: 33px;width: 85px;}
.homeBackIcon:hover{background-position: -94px -449px;}
.Business-image ul li, .Business-image-gallery ul li{    cursor: pointer; display: inline-block;border-radius: 3px; margin: 10px 5px 7px 0px;}
.Business-image-gallery ul li:last-child, .Business-image li:last-child{margin-right: 0px}
.Business-image-gallery ul li.active img, .Business-image ul li.active img{border-radius: 5px;padding: 2px;background: #73d5f3;}
.Business-image-gallery ul{margin: 0px 0px 0px 0px;padding: 0px;list-style-type: none;}
.Business-image-gallery h1, .Business-Services-page h1, .Business-About-page h1, .Business-testimonials h1, .Business-get-quotation h1, .Business-thanks-page h1{margin: 15px 0px 0px 0px; font-size: 21px}
.subHeadingtext{margin: 0px 0px 15px 0px;}
.Business-Services-page h2, .Business-Services-page img, .Business-Services-page p{margin: 0px}
.Business-Services-page .Get-quatestion-button a {margin-bottom: 30px; font-size: 13px}
.Business-testimonials .subHeadingtext{margin-bottom: 30px}
.getQuotationlist li{border-bottom: 1px solid #ccc; padding: 10px 0px }
.getQuotationlist li:last-child{border-bottom: none;}
.backBtn{  border: 1px solid #ccc;background: #fff;padding: 5px 10px;border-radius: 5px;color: #ccc}
.backBtn:hover{background: #ccc;color: #fff;}
.Business-get-quotation .nextBtn{font-size: 14px; width: 100%}
.nextBtn2{font-size: 14px}
.messageBox{width: 98%; height: 200px}
#getQuotationlistform label{display: block; font-size: 12px; margin-top: 14px}
.nameSection{width: 45%}
.nameSection input{width: 95%}
.phone, .email{width: 97%}