@charset "UTF-8";

html {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
   box-sizing: border-box;
  font-size: 100%; 
  }
article,aside,footer,header,nav,section,main {
  display: block; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color:#498fe1;
  text-decoration:none;
}
a:active,a:hover {
  outline-width: 0; 
    color: #003366;
    }

*,*::before,*::after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  background: #fefefe;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  line-height: 1.7;
  font-size:15.5px;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic; }

div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,th,td {
  margin: 0;
  padding: 0;
  font-weight: normal; }
 
.clearfix::before, .clearfix::after {
  display: table;
  content: ' '; }

.clearfix::after {
  clear: both; }
  
.column, .columns {
  width: 100%;
  float: left;
}
.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
  float: right; }
.column.end:last-child:last-child, .end.columns:last-child:last-child {
  float: left; }
.column.row.row, .row.row.columns {
  float: none; }
 .right{
	 text-align:left} 
header{
   margin-top: 10px;
}
header a.right{    
	color: #333;
    font-size: 17px;
	margin-top:15px;
}
footer{font-size: 13px}
footer a{display: inline-block;margin: 0px 5px;font-size:13px;}
footer .right{margin-top:15px;}
.smallText{
font-size:14px;
font-weight: normal;
}
.grayText{ 
color:#666666;}
.bold{    font-weight: bold;}
.page-container{
  padding: 15px 15px;}
/*chamber of commers style*/
/*#Business_address h1, #Chamber-info h2{
	font-size:25px;
	line-height: normal;
	 margin-top: 15px;
}
.page-container{
	padding: 15px 15px;}*/
.backgroundColor{
  background: #eaeaea;
  color: #333333;
  padding: 30px 0px 0px 0px;
}
/*#Business_image img{border-radius:5px;
padding: 0px;
margin: 0px 0px 20px 0px}

#Business_detail .large-3.column, #Chamber-info .large-7.column{padding-right:0px}
#Business_information, .socialshare, #Chambers-List ul, #Chamber-info ul, #Attramo-detail ul, #Attramo-siteMap ul, #Other_chambers ul{
	list-style-type: none;
}

#Business_information li, .marginBottom, footer.marginBottom, #Chambers-List li, .email.marginBottom, #Attramo-siteMap li, #Attramo-privacy li{
	margin-bottom: 20px;
}
#Other_chambers li{margin-bottom: 9px}
#Attramo-siteMap ul.second, #Attramo-privacy ul{margin-left: 20px;}
.email.marginBottom, .ccno{
  display: block;
}
#Business_information li .floatText, .contact-person .floatText, #Attramo-detail .floatText{
	float: left;
    word-wrap: break-word;
}
#Attramo-detail h3{   
  font-size: 19px;
    padding: 0px}
#Attramo-detail .floatText{
  width: 80%
}
#Attramo-detail h4{   
  font-size: 17px;}
#Attramo-detail span.icon{
    font-size: 60px;
    float: left;
    width: 85px;
    color: #3366cc;
}
#Business_information li span.icon,.contact-person span.icon{
      font-size: 23px;
    color: #a5a3a3;
    float: left;
    margin-right: 10px;
}
.contact-person{line-height: 25px;}
#Business_address .icon{
      font-size: 19px;
}
#Business_information .bold{
    display: block;
}*/
.backgroundColor .joinChamber{padding: 15px;}
.joinChamber {
	background: #0066cc;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    padding: 5px;
    width: 100%;
    display: block;
    text-align: center;
}
.joinChamber:hover {
    color: #FFFFFF !important;
}


/*.socialshare li {
    display: inline-block;
}
.socialshare li a {
       display: block;
    font-size: 140px;
    line-height: 29px;
    height: 28px;
    overflow: hidden;
   margin: 10px 0px 0px -7px;
}
#Attramo-info h1, #Chamber-info h1 {font-size: 25px;line-height: normal;}
#Attramo-form h2  {font-size: 20px;}
#Attramo-form .subscribeForm button{background: #cc3366; cursor: pointer;}
#Attramo-form .subscribeForm button:hover {background: #96264b;}*/
.largeMarginBottom{
  margin-bottom: 45px;
}
.center{
   text-align:center}
/*a.contactNo{
  display: block;
  margin: 20px 0px 0px 0px;
}
#Attramo-terms ol{
  margin-left: 20px;
}*/
.pinkText{color: #cc3366}
h1.pinkText{
    font-size: 38px;
    font-weight: bold;
    line-height: normal;
}
.largeScreen{display: none;}
.smallscreen{display: block;} 
footer .smallscreen a{    
    border: 1px solid #99ccff;
    color: #498fe1;
    margin: 15px 10px 15px 0px;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;} 
.icon-Hamburger-Menu{
    position: absolute;
    right: 15px;
    color: #4bafde;
    top: 34px;
}
.topHeader .right a{
  color: #FFF; background: #08b; border-radius: 50px; padding: 10px 25px; display: inline-block;
}
.topHeader .right a:hover {
    color: #003366;
    background: #efefef;
}
.moreList{
  margin-top: 10px;
}
.moreList .icon{
  font-size: 10px
}
.moreList .icon:before{
color: #498fe1;}
/*.subscribeForm{
     border: 1px solid #ccc;
    border-radius: 4px;
    height: 42px;
    display: inline-block;
}
.subscribeForm input{    
  border: none; padding: 6px 0px 0px 14px;}
.subscribeForm button{
    background: #08b;
    color: #fff;
    border: none;
    height: 42px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    margin-top: -1px;
    padding: 0px 20px;
    cursor: pointer;
}
.subscribeForm button:hover, .joinChamber:hover {
    background: #174575;}
#Chambers-List ul li{
  border: 1px solid #99ccff;
    display: block;
    margin-right:0px;
    border-radius: 5px;
    text-align: center;
}
#Other_chambers ul li {
    border: 1px solid #99ccff;
    display: block;
    margin-right: 0;
    border-radius: 5px;
    text-align: center;
    width: 100%;
}
#Chambers-List ul li:hover, #Other_chambers ul li:hover { border: 1px solid #003366; }
#Chambers-List ul li:hover .icon-Know-Your-Chamber-Next-Arrow:before,  #Other_chambers ul li:hover .icon-Know-Your-Chamber-Next-Arrow:before{
    color: #003366;
}
#Chambers-List ul li a, #Other_chambers ul li a{ padding: 20px; display: block;}
#Attramo-info .subscribeForm{ margin-bottom:35px}
#Chambers-List li{position: relative;}
#Other_chambers li {display: inline-block; position: relative;}
#Chambers-List li p, #Other_chambers li p{    float: left;width: 80%;}
#Chambers-List li:first-child p{clear: both;width: 100%;margin-top: 15px }
#Chambers-List li span.icon, #Other_chambers li span.icon{ position: absolute;top: 38%; right: 22px;}
#Other_chambers h4{  padding: 28px 0px 10px 0px;
    font-size: 1.17em;
    border-top: 1px solid #eae8e8;}
.largesceen.icon-Location{display: none;}
.largesceen.icon-Phone{display: none;}
.mapLocation, .contactNo{
  position: relative;
    display:block;
    border-top: 1px solid #efecec;
    padding-top: 20px;}
.smallscreen.icon-Phone, .smallscreen.icon-Location{
    background: #efecec;
    border-radius: 25px;
    padding: 10px;
    margin-left: 10px;
    position: absolute;
    right: 0px;
    top: 39%
}
.mapText{width: 80%;
    display: inline-block;
}
.errorNotfound a{ border: 1px solid #08b;
    border-radius: 5px;
    padding: 5px 15px;}
.socialshare li .icon-LinkedIn:hover .path1:before {
    color: #094684;
}
.socialshare li .icon-Twitter:hover .path1:before {
        color: rgb(24, 118, 175);
}
.socialshare li .icon-Facebook:hover .path1:before {
    color: rgb(35, 51, 95);
}
#success_message{color: #03ab03; font-size: 11px}
#error_message{color: #ff0000;font-size: 11px}
#reused_form label{display: block;    margin-top: 15px;}
#reused_form input, #reused_form textarea{display: block;
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;}
    {width: 66px;
    font-size: 15px;
    padding: 9px;}
#reused_form textarea{height: 200px}
.contac-form .joinChamber{width: 66px;
    font-size: 15px;
    padding: 9px;}
.time p{font-size: 13px}
.time p span{    width: 125px;display: inline-block;}
.ChamberOfTheWeekBanner{
  position: absolute;
    top: 120%;
    right: 0px;
}*/
#Business_Websites ul.large-6{
  width:50%;
}
.tabcontent .large-4{
  width: 33.33333%;
}
.marginBottom{
  margin-bottom: 12px;
}
#Business_Websites ul, #Business_Category ul, .tabcontent ul, .Small_Business_info ul, #all_business_categories ul{ 
  list-style-type: none;
}
#Business_Category ul.marginBottom, #all_business_categoriesul.marginBottom{margin:10px 0px 30px 0px;}
.allCategorieLink{
  border: 1px solid #498fe1;
    border-radius: 5px;
    padding: 5px 10px;}
#Business_Websites ul li, .tabcontent ul li{
  display: block;
  margin-bottom: 30px;
}
#Business_Websites ul li a{display: inline-block;}
#Business_Websites ul li a P{color: #000}
#Business_Websites ul img, .tabcontent ul img{
    display: block;
    border-radius: 5px;
    background: #fff;
    padding: 5px;
    margin-bottom: 10px;
  }
.Small_Business_image img {
    border-radius: 5px;
}
  #Business_Category ul li a, #all_business_categories ul li a{
    border-radius: 20px;
    color: #333;
    padding: 10px 20px;
    background: #fff;
    font-size: 12px;
}
  #Business_Category ul li a:hover, #all_business_categories ul li a:hover, #Business_Websites ul li a:hover img{
    box-shadow: 0px 1px 2px 3px #ccc;
  }
  #Business_Category ul li, #all_business_categories ul li{ display: inline-block;
    margin: 10px 15px 15px 0px}
  #Business_Category ul li a span, #all_business_categories ul li a span.tablinks span{    color: #a9a7a7;}
  .tablinks span{    color: #999;}
  #Business_Category{padding-right: 0px;}
  /* Style the tab content */
.tabcontent {
    display: none;
}
#tab.page-container{padding-bottom: 0px; padding-top: 0px;}
.tablinks {
  background: none;
    border: none;
        cursor: pointer;
}
.tablinks.active{
  border-bottom: 5px solid #cc3366;
}
.tablinks:focus{
  outline: none
}
.SlidGallery{margin-top: -24px;margin-bottom: 35px;}
.Small_Business_info .prev, .Small_Business_info .next{    
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 7px;
    font-size: 11px;}
.Small_Business_info .prev{margin-right: 10px}
.Small_Business_info .next{margin-left: 10px}
.Small_Business_info .webButton, .website-Form button{
      color: #FFF;
    background: #08b;
    border-radius: 5px;
    padding: 10px 10px;
    display: inline-block;
    margin: 60px 0px 20px 0px;
}
.Small_Business_info .webButton:hover{
            color: #003366;
    background: #efefef;
            cursor: pointer;
      }
.Small_Business_info .webButton span{    font-size: 23px;
    vertical-align: middle;
    margin-right: 10px;}
.Small_Business_info ul li{
  display: block;
      border-bottom: 1px solid #ccc;
    padding: 15px 0px;
}
.Small_Business_info ul li:last-child{
  border-bottom:none;
}
.Small_Business_info ul li a {
    color: #003366;
    background: #efefef;
    border-radius: 50px;
    padding: 5px 15px;
    display: inline-block;
    margin-top: 12px;
}
.Small_Business_info ul li a:hover{
  color: #FFF;
    background: #08b;
}
.Small_Business_info ul li .icon{
  vertical-align: middle;
    font-size: 23px;
    margin-right: 10px;
}
.Small_Business_info ul li .icon.icon-bookmark, .Small_Business_info ul li .icon.icon-share2{
  color: #08b;
}
#Business_Websites .tab{border-bottom: 1px solid #ccc; margin-bottom: 35px;}
.website-Form{padding-bottom: 30px}
.website-Form form{width:100%;}
.website-Form input, .website-Form select{    
display: block;
    border: none;
    width: 100%;
    height: 30px;
    border-radius: 3px;
      margin-bottom: 15px;}
  .website-Form button{border: none; width:100%; margin:0px;}
#Business_Websites, .website-Form .large-6.floatRight{
  padding-top: 20px
}
.Small_Business_info{ padding-top: 40px }
/*#Business_Category ul span{ font-size: 12px }*/
/*@media screen and (max-width: 380px) { .subscribeForm input{width: 120px;} }
@media screen and (max-width: 470px) { #Attramo-detail span.icon {width: 65px;}}*/
@media screen and (max-width: 850px) { 
  .plumbingSite .tablinks{
    font-size: 17px;
    margin-right: 15px; }
}
@media screen and (max-width: 650px) { 
  .plumbingSite .tablinks:first-child{
     width: 100px;
  }
  .plumbingSite .tablinks{
    margin-right: 15px; 
      word-wrap: break-word;
    width: 136px;
  }
}
@media screen and (max-width: 940px) { 
  .indiviualPlumbing .tablinks{
        font-size: 18px;
  }
}
@media screen and (max-width: 503px) { 
  .indiviualPlumbing .tablinks{
    word-wrap: break-word;
    width: 147px;
  }
}
@media screen and (max-width: 450px) { 
  #Business_Websites ul.large-6, .tabcontent .large-4{
    width:100%;
  }
}
@media screen and (max-width: 480px) { 
  .plumbingSite .tablinks:first-child{
     width: 83px;
  }
  .plumbingSite .tablinks{
    font-size: 13px;
    margin-right: 15px;
    word-wrap: break-word;
    width: 102px;
  }
}
@media screen and (min-width: 53.15em) {
.row {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.large-12 {width: 100%; }
.large-9 {width: 75%; }
.large-8 {width: 66.66667%; }
.large-7 {width: 58.33333%;  }
.large-6 {width: 50%; }
.large-5 {width: 41.66667%; }
.large-4 { width: 33.33333%; }
.large-3 {width: 25%; }
.floatRight{float: right;}
.largeScreen{display: block;}
.smallscreen{display: none;}
.topHeader, .spotlight{
  position: relative;
  top: 0px;
}
header a.right{margin-top:0px;}
.right{ text-align:right}
#Business_Websites, .Small_Business_info, .website-Form .large-6.floatRight{
  padding-top: 0px;
}
.website-Form form{
  width: 70%;
}
/*#Chamber-info h2,#Business_address h1 {font-size: 42px;}
#Attramo-info h1, #Chamber-info h1{font-size: 40px;}
#Attramo-info .subscribeForm{ margin-bottom:0px}
#Attramo-form h2{font-size: 28px;}
.joinChamber { font-size: 20px;}*/
/*.backgroundColor .joinChamber { font-size: 17px;}*/
/*a.contactNo{ display: inline;   margin-left:20px;}
#Business_image div:first-child{ padding-right: 10px;}
#Business_image div.floatRight{padding-left: 10px;}
#Attramo-detail h3{
  font-size: 26px;
    padding: 0px 35px;}
#Chambers-List ul li {
    margin: 10px 25px 28px 0px;
}
#Other_chambers ul li:first-child{margin-left: 0px;}
#Other_chambers ul li{
    display: inline-block;
    margin-left: 10px;
    width: 32%;
}
.mapLocation, .contactNo {
    position: relative;
    display: inline-block;
    border-top: none;
    padding-top: 0px;
}
.largesceen.icon-Phone, .largesceen.icon-Location{
    display: inline-block;
    margin-right: 5px;
    vertical-align: -3px;
}
.mapText {
    width: 100%;
    display: inline;
}*/
footer .right{margin-top:0px;}
#Business_Category {
    padding-right: 20px;
}
.tablinks{
    font-size: 21px;
    margin-right: 35px; }
/*.ChamberOfTheWeekBanner{
    top: 55%;}*/
}


/*media screen end*/

/*Font Icon Style Start Do not Tuch*/
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ecnzuo');
  src:  url('fonts/icomoon.eot?ecnzuo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ecnzuo') format('truetype'),
    url('fonts/icomoon.woff?ecnzuo') format('woff'),
    url('fonts/icomoon.svg?ecnzuo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Time:before {
  content: "\e91f";
}
.icon-Grow-10X-icon:before {
  content: "\e91e";
}
.icon-Hamburger-Menu:before {
  content: "\e919";
  color: #4bafde;
}
.icon-Know-Your-Chamber-Next-Arrow:before {
  content: "\e91a";
  color: #d1d1d1;
}
.icon-Build-Business-Credibility:before {
  content: "\e91b";
}
.icon-BackIcon:before {
  content: "\e918";
}
.icon-Increase-Your-business-Local-Visibility:before {
  content: "\e91c";
}
.icon-Mobile-Friendly-Site:before {
  content: "\e91d";
}
.icon-Attendees:before {
  content: "\e900";
}
.icon-Contact:before {
  content: "\e901";
}
.icon-Employees_Represents:before {
  content: "\e902";
}
.icon-Events:before {
  content: "\e903";
}
.icon-Facebook .path1:before {
  content: "\e904";
  color: rgb(58, 85, 159);
}
.icon-Facebook .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Facebook .path3:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Facebook .path4:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Founded_In:before {
  content: "\e908";
}
.icon-Has_Members:before {
  content: "\e909";
}
.icon-LinkedIn .path1:before {
  content: "\e90a";
  color: rgb(0, 123, 181);
}
.icon-LinkedIn .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-LinkedIn .path3:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-LinkedIn .path4:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-LinkedIn .path5:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Location:before {
  content: "\e90f";
}
.icon-Phone:before {
  content: "\e910";
}
.icon-Presidents_Name:before {
  content: "\e911";
}
.icon-Ribbon_Cutting:before {
  content: "\e912";
}
.icon-Twitter .path1:before {
  content: "\e913";
  color: rgb(29, 161, 242);
}
.icon-Twitter .path2:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Twitter .path3:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Twitter .path4:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Website:before {
  content: "\e917";
}
.icon-prev:before {
  content: "\e920";
}
.icon-next:before {
  content: "\e921";
}
.icon-bookmark:before {
  content: "\e9d2";
}
.icon-new-tab:before {
  content: "\ea7e";
}
.icon-share2:before {
  content: "\ea82";
}

/*Font Icon Style END*/
